<mat-card>
  <mat-card-title>Checkouts</mat-card-title>
  <mat-card-content>

    <mat-nav-list *ngIf="(books$ | async) as books">
      <table>

        <tr>
          <th *ngFor="let col_name of columns_of_table_of_books">{{col_name}}</th>
        </tr>

        <tr mat-list-item *ngFor="let book of books.content" [routerLink]="['/books', book.id]">
          <td *ngFor="let col_name of columns_of_table_of_books">{{book[col_name]}}</td>
        </tr>

      </table>
    </mat-nav-list>

  </mat-card-content>
</mat-card>
