<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>

      <mat-nav-list *ngIf="(books$ | async) as books">
        <table>
          <tr>
            <th *ngFor="let col_name of TH$">{{col_name}}</th>
          </tr>

          <tr mat-list-item *ngFor="let book of books.content" [routerLink]="['/books', book.id]">
            <td *ngFor="let col_name of TH$">{{book[col_name]}}</td>
          </tr>

        </table>
      </mat-nav-list>

    </mat-card-content>
  </mat-card>
</div>
